body
{
    h1
{
    color: aquamarine;
    text-align: center;
    font-family: Harrington:'Century Gothic':Georgia;
    h2

{
    color: dimgray;
    text-align: center;
    front-family: Harrington:'Century Gothic':Georgia;
}

